<div class="row comment-form">
    {{#each this}}
    <section class="row comment">
        <div class="col s4 right-align">
            <b>{{ User.user_name }}</b> on {{ format_date created_at }}: 
        </div>
        <div class="col s6 text">
            {{ comment_text }}
        </div>
    </section>
    {{/each}}
</div>