<section class="center-align">
    <h2>Create New Blog Post</h2>
    <form class="createBlog">
        <div>
            <label for="blog-title">Title:</label>
            <input type="text" id="blog-title" />
        </div>
        <div>
            <label for="post-contents">Blog Description:</label>
            <textarea type="text" id="post-contents"></textarea>
        </div>
        <div class="center-align">
            <button type="submit" name="action" class="btn waves-effect waves-light">Create Blog
                <i class="material-icons right">create</i>
            </button>
        </div>
    </form>
</section>

{{#if blogs.length}}
<section class="userBlogs center-align">
    <h2>Your Blog Posts</h2>
    <ul>
        {{#each blogs as |blog|}}
        <li>
            {{> blog-info blog}}
            <a href="/dashboard/edit/{{blog.id}}">Edit Blog Post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="/javascript/add-blog.js"></script>