<div class="row center-align">
    <a href="/dashboard"> &larr; Back to Dashboard</a>
    <article class="editBlogContainer">
        <h2>
            Edit Blog Post
        </h2>
        <form class="col s12 edit-blog-form">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="blog_title" value="{{blog.title}}" />
                    <label for="editTitle">Title:</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" name="post_contents" value="{{blog.post_contents}}" />
                    <label for="editBlogDescription">Blog Description:</label>
                </div>
            </div>
            <button type="submit" name="action" class="edit-blog-btn btn waves-effect waves-light">Save
                <i class="material-icons right">send</i>
            </button>
        </form>
        <div>
            <button type="button" name="action" class="delete-blog-btn btn waves-effect waves-light">Delete Blog Post
                <i class="material-icons">delete_forever</i>
            </button>
        </div>
    </article>
</div>

<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>