<article>
    <a href="/dashboard"> &larr; Back to Dashboard</a>
    <h2>
        Edit Blog Post
    </h2>
    <form class="edit-blog-form">
        <div>
            <input type="text" name="blog_title" value="{{blog.title}}" />
            <input type="text" name="post_contents" value="{{blog.post_contents}}"</input>
        </div>
        <button type="submit" class="edit-blog-btn">Save</button>
    </form>
    <button type="button" class="delete-blog-btn">Delete Blog Post</button>
</article>

<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>
<script src="/javascript/comment.js"></script>
