<ul class="blog-list">
    {{#each blogs as |blog|}}
    <li>
        <article class="blog">
            <div class="title">
                <h1>{{ title }}</h1>
                <p>{{post_contents}}</p>
            </div>
            <div class="meta">
                By: {{User.user_name}} on
                {{created_at}}
            </div>
        </article>
    </li>
    {{/each}}
</ul>