{{!-- user login form --}}
<div class="row">
    <form class="col s12 m12 l6 loginForm">
        <div class="row">
            <div class="input-field col s12">
                <input class="validate" type="email" id="email-login" />
                <label for="email">Email:</label>
                <span class="helper-text" data-error="must be valid email format">Example:
                    "example@email.com"</span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="password" id="password-login" />
                <label for="password-login">Password:</label>
            </div>
        </div>
        <div class="right-align">
            <button class="loginBtn" type="submit">Login</button>
        </div>
    </form>
    <form class="col s12 m12 l6 signupForm">
        <div>
            <div class="input-field col s12">
                <input type="text" id="username-signup" />
                <label for="username-signup">Username:</label>
                <span class="helper-text">Tip: "Username will be seen by other users. Do not use sensitive
                    information. Must be between 5-25 characters in length"</span>
            </div>
            <div class="input-field col s12">
                <input class="validate" type="email" id="email-signup" />
                <label for="email">Email:</label>
                <span class="helper-text" data-error="must be valid email format">Example: "example@email.com"</span>
            </div>
            <div class="input-field col s12">
                <input type="password" id="password-signup" />
                <label for="password-signup">Password:</label>
            </div>
        </div>
        <div class="right-align">
            <button class="signupBtn" type="submit">Signup Now!</button>
        </div>
    </form>
</div>


<script src="/javascript/login.js"></script>