{{!-- user login form --}}
<form class="loginForm">
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

{{!-- user signup form --}}
<form class="signupForm">
    <div>
        <label for="user_name-signup">Username:</label>
        <input type="text" id="user_name-signup" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">Signup Now!</button>
    </div>
</form>
<script src="/javascript/login.js"></script>